body {
    font-family: sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
}

h1 {
    vertical-align: middle;
    display: inline-block;
    margin-left: 30px;
    font-size: 28pt;
}

h2 {
    font-size: 28pt;
    margin-bottom: 5px;
    margin-top: 10px;
}

h3 {
    margin-bottom: 10px;
}

ul {
    list-style: none;
}
/* text-align: center*/
h3, h2, .descr-2 img, .rating-column, .rating-column .list, .newsletter img, .sidebar .sidebar-title {
    text-align: center;
}
/**/

/* black border */
.border-1 {
    border: 1px solid black;
}
/**/

/* margin 5px */
.margin-5 {
    margin: 5px;
}
/**/

/* outline */
.descr-2 img, .newsletter img {
    outline: 1px solid black;
}
/**/
.wrapper {
    margin: auto;
    width: 870px;
    min-height: 500px;
}

/* display: inline-block; */
.RSS, .date, .main, .sidebar, .main-menu > li, .sub-menu > li, .rating-column, .rating-column .list,
.newsletter img, .best div, .best .star
{
    display: inline-block;
}

.date {
    width: 80%;
}

.RSS {
    text-align: right;
    width: 19%;
}

.main-menu, .sub-menu {
    margin: 0;
    padding-left: 3px;
}

.sub-menu {
    padding-top: 5px;
}

.main-menu > li {
    font-weight: bold;
    font-size: 20pt;
    margin-right: 20px;
    margin-left: 5px;
}

.sub-menu > li {
    margin-left: 10px;
    font-size: 15pt;
}

/* Кнопка Додати */
.button-add {
    vertical-align: middle;
    background-color: white;
    padding: 10px 90px;
    font-size: 20pt;
    margin-left: 220px;
}

/*****************/
.main, .sidebar, .rating-column {
    vertical-align: top;
}

.main {
    width: 590px;
    margin-left: 10px;
}

.sidebar {
    width: 240px;
}

.descr-2 img {
    font-size: 15px;
    min-height: 100px;
    min-width: 80px;
    margin: 0 7px 7px 7px;
}

.descr-2 .left-img {
    float: left;
}

.descr-2 .right-img {
    float: right;
}

.descr-2 {
    padding: 5px;
    font-size: 5pt;
}

.rating{
    width: 600px;
    margin-top: 5px;
}

.rating-column {
    margin-left: 7px;
    width: 281px;
    margin-right: 0;
    font-size: larger;
}

.rating-column .list {
    padding-left: 0;
    margin-top: 5px;
}

.rating-column .list .star {
    padding: 8px;
    background: url("20px_star.png") no-repeat 0 5px;
}

.newsletter{
    font-size: 5pt;
}

.newsletter img {
    font-size: 10px;
    min-height: 70px;
    min-width: 80px;
    margin: 0 3px 3px 7px;
}

.newsletter input[type="button"] {
    background-color: white;
    margin-left: 3px;
    margin-bottom: 10px;
    height: 22px;
    width: 15%;
}

.newsletter input[type="text"] {
    height: 18px;
    margin-left: 6px;
    margin-bottom: 10px;
    width: 76%;
}

.best > div{
    margin-left: 2px;
}

.best .star {
    padding: 7px;
    background: url("20px_star.png") repeat-x -2px 5px;
}

.item-title {
    color: #b00500;
}

.newsletter-content img {
    float: left;
}

.sections-menu {
    list-style: disc;
    padding-left: 20px;
}

.sidebar .sidebar-title {
    font-size: 15pt;
    margin: 2px;
    display: block;
}

/*equal blocks` height*/

.table {
    display: table;
    border-collapse: separate;
    border-spacing: 10px;
}

.main, .sidebar {
    display: table-cell;
}
